<div class="chat-popup" [class.open]="isOpen">
  <div class="chat-icon" (click)="toggleChat()">
    <img src="assets/chat-icon.png" alt="Chat Icon" class="chat-bubble-icon" *ngIf="!isOpen" />
    <!-- Thanh header khi popup mở -->
    <div class="chat-header" *ngIf="isOpen">
      <div style="display: flex; align-items: center;">
        <img src="assets/Vector.png" alt="back-btn" />
        <img src="assets/cole-assistants-icon.svg.png" alt="Cole Assistants" class="cole-assistants-icon" />
      </div>
      <div>
        <span class="close-btn"><img src="assets/Vector 3.png" alt="Cole Assistants"
            class="cole-assistants-icon" /></span>
        <span class="close-btn"><img src="assets/Vector 2.png" alt="Cole Assistants"
            class="cole-assistants-icon" /></span>
      </div>
    </div>
  </div>
  <div class="chat-body" *ngIf="isOpen">
    <div class="messages" #messagesContainer>
      <div *ngFor="let msg of messages" [class.user]="msg.sender === ''" [class.support]="msg.sender === 'Hỗ trợ'">
        <img src="assets/icon-1.png" alt="Support Icon" class="support-icon" *ngIf="msg.sender === 'Hỗ trợ'" />
        <span class="message-content">
          <strong *ngIf="msg.sender === 'Bạn'">{{ msg.sender }}:</strong>
          {{ msg.content }}
        </span>
      </div>
    </div>
    <div class="chat-input">
      <input type="text" [(ngModel)]="newMessage" (keyup.enter)="sendMessage()" placeholder="Nhập và nhấn gửi " />
      <div>
        <button (click)="sendMessage()"><img src="assets/Group.png" alt="Cole Assistants" /></button>
        <button (click)="sendMessage()"><img src="assets/Vector 4.png" alt="Cole Assistants" /></button>
      </div>
    </div>
  </div>
</div>