<div class="chat-popup" [class.open]="isOpen">
    <div class="chat-icon" (click)="toggleChat()" [class.maximized]="isMaximized">
        <img src="assets/chat-icon.png" alt="Chat Icon" class="chat-bubble-icon" *ngIf="!isOpen" />
        <!-- Thanh header khi popup mở -->
        <div class="chat-header" *ngIf="isOpen">
            <div style="display: flex; align-items: center;">
                <img src="assets/Vector.png" alt="back-btn" />
                <img src="assets/cole-assistants-icon.svg.png" alt="Cole Assistants" class="cole-assistants-icon" />
            </div>
            <div>
                <span class="close-btn"><img src="assets/Vector 3.png" alt="Cole Assistants"
                        class="cole-assistants-icon" (click)="toogleMaximined($event)" />
                </span>
                <span class="close-btn"><img src="assets/Vector 2.png" alt="Cole Assistants"
                        class="cole-assistants-icon" /></span>
            </div>
        </div>
    </div>
    <div class="chat-body" *ngIf="isOpen" [class.maximized]="isMaximized">

        <div class="messages" *ngIf="!formSubmitted">
            <!-- <form (ngSubmit)="onSubmit()" #formRef="ngForm">
                    <label for="fname">First name:</label><br />
                    <input type="text" id="fname" name="fname" [(ngModel)]="firstName" required /><br />
                    <label for="lname">Last name:</label><br />
                    <input type="text" id="lname" name="lname" [(ngModel)]="lastName" required /><br /><br />
                    <input type="submit" value="Submit" />
                </form> -->
            <div class="form-container" style="background-color:#0F75BCCC ; width: 100%;">
                <div style="margin: 20px; color: white;">Bạn vui lòng điền form bên dưới để bắt đầu
                    trò
                    chuyện với trợ lý
                    ảo tìm hiểu
                    các khóa học của
                    chúng tôi!</div>
                <form (ngSubmit)="onSubmit()" #formRef="ngForm"
                    style="height: 70%; padding: 20px;margin: 20px; background-color: white;">
                    <input type="text" name="name" placeholder="Họ và tên" name="fname" [(ngModel)]="firstName"
                        required>
                    <input type="email" name="email" placeholder="Địa chỉ email" name="fname" [(ngModel)]="email"
                        required>
                    <div style="display: flex">
                        <select name="country-code" style="padding: 8px; font-size: 14px; height: 33.6px; ">
                            <option value="+84">+84</option>
                            <option value="+1">+1</option>
                            <option value="+61">+61</option>
                        </select>
                        <input type="tel" name="phone" placeholder="Số điện thoại" required [(ngModel)]="phone"
                            style="flex: 1; margin-bottom: 0 !important;">
                    </div>

                    <textarea name="message" placeholder="Lời nhắn bạn gửi tới chúng tôi"
                        style="margin-top: 10px; margin-bottom: 20px; padding: 8px;" [(ngModel)]="message"></textarea>
                    <div style="display: flex; margin: 0;">
                        <button type="submit"
                            style="align-items: center; margin: 8px auto; padding: 10px 40px; width: 70%; background-color: #0F75BCCC; outline: none; border: none; color: white; border-radius: 8px; display: flex; justify-content: center;">
                            <span>Hoàn tất</span>
                            <span style="margin-left: 8px;">
                                <img src="assets/send_icon.png" alt="Send" style="width: 20px; height: 20px;" />
                            </span>
                        </button>
                    </div>
                </form>
            </div>
            <div class="chat-body-footer" style="display: flex; flex-direction: row;">
                <span style="margin-left: 8px;  width: 100%; height: 100%; margin: auto; padding: 0; display: flex;">
                    <img src="assets/home_icon.png" alt="Send"
                        style="width: 24px; height: 25px; color: black;margin: auto; align-items: center;" />
                </span>
                <span style="margin-left: 8px; width: 100%; height: 100%; margin: auto ; padding: 0; display: flex;">
                    <img src="assets/message_icon.png" alt="Send"
                        style="width: 24px; height: 25px; color: black;margin: auto; align-items: center;" />
                </span>
            </div>
        </div>
        <div class="messages" *ngIf="formSubmitted" #messagesContainer>
            <div *ngFor="let msg of messages" [class.user]="msg.sender === ''"
                [class.support]="msg.sender === 'Hỗ trợ'">
                <img src="assets/icon-1.png" alt="Support Icon" class="support-icon" *ngIf="msg.sender === 'Hỗ trợ'" />
                <span class="message-content">
                    <strong *ngIf="msg.sender === 'Bạn'">{{ msg.sender }}:</strong>
                    {{ msg.content }}
                </span>
            </div>
            <div style="display: flex; justify-content: end; flex-direction: column;">
                <button (click)="handleQuestion(1)"
                    style="padding: 10px; border: 1px solid #0F75BCCC;; background-color: white; outline: none; color: #0F75BCCC; border-radius: 5px; font-size: 14px; margin-left: auto; margin-bottom: 10px;">Giới
                    thiệu về Cole?</button>
                <button (click)="handleQuestion(2)"
                    style="padding: 10px; border: 1px solid #0F75BCCC;; background-color: white; outline: none; color: #0F75BCCC; border-radius: 5px; font-size: 14px; margin-left: auto; margin-bottom: 10px;">Thông
                    tin giảng viên ở Cole?</button>
                <button (click)="handleQuestion(3)"
                    style="padding: 10px; border: 1px solid #0F75BCCC;; background-color: white; outline: none; color: #0F75BCCC; border-radius: 5px; font-size: 14px; margin-left: auto; margin-bottom: 10px;">Cole
                    đào tạo các khóa học nào?</button>
            </div>
        </div>
        <div class="chat-input" *ngIf="formSubmitted">
            <input type="text" [(ngModel)]="newMessage" (keyup.enter)="sendMessage()" placeholder="Nhập và nhấn gửi " />
            <div>
                <button (click)="sendMessage()"><img src="assets/Group.png" alt="Cole Assistants" /></button>
                <button (click)="sendMessage()"><img src="assets/Vector 4.png" alt="Cole Assistants" /></button>
            </div>
        </div>

    </div>